<meta charset="UTF-8">
<title>Магаз манги</title>

<link rel="stylesheet" href="css/jquery.pagepiling.min.css" />
<link rel="stylesheet"  href="css/fonts.css" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet"  href="css/common.css" />
<link rel="stylesheet" href="css/header.css">
<link rel="stylesheet" href="css/main-block.css">
<link rel="stylesheet" href="css/hi.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>

