<nav class="nav">
  <div class="container-1600">
    <div class="navbar">
      <div class="navbar__list">
        <ul class="navbar__list-items">
          <li><a href="">Каталог</a></li>
          <li><a href="">Сервис</a></li>
          <li><a href="">Акции</a></li>
          <li><a href="">О производителе</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </div>
      <div class="navbar__list-help">
        <a href="#helpme">Помочь выбрать</a>
      </div>
    </div>
  </div>
</nav>