<meta charset="UTF-8">
<title>Магаз манги</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="header.css">
<link rel="stylesheet" href="main-block.css">