<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<header>
    <%- include('./partials/header'); %>
</header>

<body>
<main>
    <div class="main">
        <img src="/img/main.jpg" alt="">
        <img src="/img/main.jpg" alt="">
        <div class="main__block">

        </div>
    </div>
</main>
</body>
</html>